<header>
	<div>
		<p style ="padding:10px;"></p>
	</div>
	<div style= "margin-left: 740px;">
	<% if current_user %>
    <%= link_to "Log Out", sessions_destroy_path %>
	<% end %>
	</div>
 </header>
<div id="findtheatre" class="panel left">
    <h1>Find a theatre</h1>
	<%= form_tag theatres_path, :method => 'get' do %>
		<p>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag "Search", :name=>nil %>   
    
		</p>
	<% end %>
</div>

<div class="panel left">
    <h1>Your Theatres</h1>
    <div class="movieWrapper">
        Display all theatre information <br />
			<% if !@theatres.blank? %>
				<% for item in @theatres %>
					<%= item.theatrename %>   Is currently playing   <%= item.moviename %> <br />
				<% end %>
			<% else %>

			<% end %>
    </div>
</div>