<div id="findMovie" class="panel left">
    <h1>Find a movie</h1>
	<%= form_tag movies_path, :method => 'get' do %>
		<p>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag "Search", :name=>nil %>   
    
		</p>
	<% end %>
</div>

<div class="panel left">
    <h1>Your Movies</h1>
    <div class="movieWrapper">
        Display all movie information <br />
			<% if !@movies.blank? %>
				<% for item in @movies %>
					<%= item.moviename %> <%= item.theatrenumber %> <%= item.theatres.theatrename %> <br />
				<% end %>
			<% else %>

			<% end %>
    </div>
</div>