
 
<div class="panel right">
  <h1>Add a movie</h1>
   
  <%= form_for @movie do |f| %>
    <% if @movie.errors.any? %>
      <ul>
        <% @movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
 
    <%= f.text_field :moviename, placeholder: "moviename" %>
    <%= f.text_field :theatrenumber, placeholder: "theatrenumber" %>
    <%= f.submit "Submit" %>
  
  <% end %>

</div>

<div class="panel right">
  <h1><a href="http://localhost:3000/theatres/new">Add a theatre</a></h1>
  <h1><a href="http://localhost:3000/movies/show?utf8=%E2%9C%93&search=jobs">Search a movie</a></h1> 
  <h1><a href="http://localhost:3000/theatres">Search a theatre</a> </h1> 
</div>

