
 <header>
	<div>
		<p style ="padding:10px;"></p>
	</div>
	<div style= "margin-left: 740px;">
	<% if current_user %>
    <%= link_to "Log Out", sessions_destroy_path %>
	<% end %>
	</div>
 </header>
<div class="panel right">
  <h1>Add a movie playing at a theatre near you</h1>
   
  <%= form_for @movie do |f| %>
    <% if @movie.errors.any? %>
      <ul>
        <% @movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
 
    <%= f.text_field :moviename, placeholder: "moviename" %>
    <%= f.text_field :theatrenumber, placeholder: "Screen number" %>
	<%= f.text_field :theatre_id, placeholder: "1 for imax,3 for amc ,10 for Pear avenue" %>
    <%= f.submit "Submit" %>
  
  <% end %>
 
</div>

<div class="panel left">
  <h1 style = "padding: 40px;"><a href="http://localhost:3000/theatres/new">Add a theatre</a></h1>
  <h1 style = "padding: 40px;"><a href="http://localhost:3000/movies/show?utf8=%E2%9C%93&search=jobs">Search a theatre playing your favourite movie</a></h1> 
  <h1 style = "padding: 40px;"><a href="http://localhost:3000/theatres/index">Search a movie at your favourite theatre</a> </h1> 
  <h1 style = "padding: 40px;"><a href="http://localhost:3000/locations/show">Enter your location to find the theatre nearest you</a> </h1> 
</div>

