<div id="findMovie" class="panel left">
    <h1>Find a movie</h1>
	<%= form_tag movie_path, :method => 'get' do %>
		<p>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag "Search", :name=>nil %>   
    
		</p>
	<% end %>
</div>

<div class="panel left">
    <h1>Your Movies </h1>
    <div class="movieWrapper">
        Display all movie information <br />
			<% if @movies %>
				<%  @movies.each do |item| %>
					<%= item.moviename %> playing at theatre 
					<%=  item.theatrenumber %> in <%=  item.theatre.theatrename %> 
					
				<% end %>
				
					  
			

			<% end %>
    </div>
</div>

