<header>
	<div>
		<p style ="padding:10px;"></p>
	</div>
	
	<% if current_user %>
    <%= link_to "Log Out", sessions_destroy_path %>
	<% end %>
	
 </header>
<div id="findMovie" class="panel left">
    <h1>Find a movie</h1>
	<%= form_tag movie_path, :method => 'get' do %>
		<p>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag "Search", :name=>nil %>   
    
		</p>
	<% end %>
</div>

  

<div class="panel left">
    <h1>Your Movies </h1>
    <div class="movieWrapper">
        Display all movie information <br />
			<% if @movies %>
				<%  @movies.each do |item| %>
					<%= item.moviename %> is running in screen 
					<%=  item.theatrenumber %> at  <%=  item.theatre.theatrename %> 
					
				<% end %>
				
					  
			

			<% end %>
    </div>
</div>

